body {
  margin: 0; }

.logo-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  align-items: center;
  flex-direction: column; }

.logo {
  width: 372px;
  height: 80px;
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .logo--small {
    width: 186px;
    height: 40px; }
  .logo__gradient {
    animation: animate-logo 4s linear infinite;
    position: absolute;
    z-index: 1;
    width: 200%;
    height: inherit; }
    .logo__gradient:before, .logo__gradient:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      width: 50%;
      height: inherit;
      z-index: 1;
      background: linear-gradient(90deg, var(--color1) 0%, var(--color2) 25%, var(--color3) 50%, var(--color4) 75%, var(--color1) 100%); }
    .logo__gradient:after {
      left: 50%; }
  .logo__mask {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2; }

@keyframes animate-logo {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-50%); } }

.controls {
  position: absolute;
  left: 10px;
  top: 10px; }
